*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.text-title{
    font-family: 'EB Garamond', serif;
}
.banner{
    background-image: url(../images/banner.png), linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}
.leader-btn{
    background: #B68C5A;
    color: #ffffff;
}

.sub-card:hover{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
.sub-card-2{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
.border-img{
    border: 4px solid white;
}
@media only screen and (min-width:668px) and (max-width:992px) {
    .banner{
        height:  90vh;
    }
   

}

